/* 链接标题高亮 */
.md-heading > .md-link >a {
    color: #4e9072;
}

/* 重置标题大小 */
/*
默认 
h1 2.2rem
h2 1.75rem
h3 1.4rem
h4 1.2rem
h5 1rem
h6 1rem  
*/

h1{
    font-size:2.5rem;
    font-family: "楷体";
}
h2{
    font-size: 2.25rem;
    font-family: "楷体";
}
h3{
    font-size: 2rem;
    font-family: "楷体";
}
h4{
    font-size: 1.75rem;
    font-family: "楷体";
}
h5{
    font-size: 1.5rem;
    font-family: "楷体";
}
h6{
    font-size: 1.25rem;
    font-family: "楷体";
}